@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";
@import "./node_modules/bulma/sass/utilities/derived-variables";

#room-main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  width: 1vw;
  height: 100vh;

  .room-wrapper {
    height: 100%;
    display: flex;
  }

  .messages-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 1vw;
  }

  @media(max-width: 779px) {
    & {
      position: fixed;
      left: 0;
      width: 100%;
      height: 100%;
      transition: right 0.25s cubic-bezier(0.5, 0, 0.1, 1), transform 0.1s linear, -webkit-transform 0.1s linear;
    }
  }

  .messages {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;

    .media {
      padding: 8px 30px 4px 20px;
      .avator {
        width: 36px;
        height: 36px;
      }
      &:hover {
        background-color: $background;
      }
      & + .media {
        margin-top: 0;
        padding-top: 8px;
        border-top: none;
      }
    }
    .message-info > * {
      margin-right: 5px;
    }
  }
}
