#room-message-list {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  position: relative;

  .media {
    padding: 8px 30px 8px 20px;
    .avator {
      width: 36px;
      height: 36px;
    }
    &:hover {
      background-color: rgba(0,0,0,.05);
    }
    & + .media {
      margin-top: 0;
      padding-top: 8px;
      border-top: none;
    }
  }
  .message-info > * {
    margin-right: 5px;
  }

  .hello {
    padding: 16px 0;
    text-align: center;
  }

  @mixin message-line() {
    height: 1px;

    .content {
      background-color: #fff;
      border-radius: 24px;
      padding: .25rem .75rem;
      position: relative;
      top: -0.6rem;
    }
    hr {
      height: 1px;
      margin: 0;
    }
  }

  .date-line {
    @include message-line();
    text-align: center;
    padding: 1.5rem 0;

    .content {
      color: #000;
    }
    hr {
      background-color: #e8e8e8;
    }
  }

  .unread-line {
    @include message-line();
    text-align: right;

    .content {
      color: #d14;
    }
    hr {
      background-color: #d14;
    }
  }

  .message-content {
    color: #000;

    & > pre, & > p > code {
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}
