<!DOCTYPE html>
<html>
  <head>
    <title>Authenticated</title>
  </head>
  <body>
    しばらくお待ち下さい..
    <form id="auth" name="auth" action="">
      <input type="hidden" name="token" value="<%= token %>" />
      <input type="hidden" name="user" value="<%= user %>" />
    </form>
  </body>
</html>
