#emoji-picker {
  .panel-heading, .panel-block {
    border: none;
  }
  .picker-main {
    display: block;
    height: 210px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .emoji-item {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    height: 32px;
    width: 32px;
    padding: 4px;
    &:hover {
      background-color: #ffe1ae;
    }
  }

  .picker-category {
    color: #a0a0a0;
    font-size: 28px;
    &:hover {
      color: #363636;
    }
  }

  .picker-footer {
    padding: .25em .5em;
  }

  .preview-emoji {
    font-size: 28px;
    vertical-align: middle;
    img.emoji {
      height: 32px;
      width: 32px;
      margin-right: 5px;
    }
  }
  .preview-title {
    font-size: 16px;
    vertical-align: super;
  }
}
