#room-post {
  padding: 24px;
  position: relative;

  .typing {
    position: absolute;
    top: 0;
    left: 30px;
  }

  .field {
    border: 2px solid #cbced1;
    border-radius: 6px;
    &.has-focus {
      border-color: #717274;
    }
  }

  .has-addons {
    .button {
      border: none;
      height: 100%;
      &:focus {
        box-shadow: unset;
      }
    }
    .control.main {
      flex: 1 1 auto;
    }
  }

  .textarea {
    resize: none;
    border-radius: 0;
    &, &:focus, &:hover {
      border: none;
      box-shadow: unset;
    }
  }
}
